<div id="competency-full-body">
  <img class="col-md small-ace-logo" src="/img/ace-logo.png" />
  <div id="header-container">
    <h3>{{ user.name }}</h3>
    <h3>{{ user.id }}</h3>
    <br /><br />
    <h3>Choose Your Training</h3>
    <h6><i class="fas fa-info-circle"></i> Select from the menu and your trainings will populate below</h6>
    <div id="comp-header">
      <div>
        <select class="form-select" id="add" aria-label="Default select example">
          <option selected>Open this select menu</option>
          <option value="1">Coding Languages</option>
          <option value="2">Soft Skills</option>
          <option value="3">Agile/SCRUM/etc</option>
          <option value="4">Project Management</option>
        </select>
      </div>
    </div>
  </div>
  <!--Compentencies go here-->

  <!--Test Card-->
  <div id="comp-container">
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">Soft Skills</h5>
        <h6 class="card-subtitle mb-2 text-muted">
          Choose your level of expertise
        </h6>
        <p class="card-text"></p>

        <div id="dropdown-menus">
          <!--Language Selection-->
          <select class="form-select" id="lang-selections" aria-label="Default select example">
            <option selected>Pick A Skill</option>
            <option value="1">Communication</option>
            <option value="2">Teamwork</option>
            <option value="3">Time-Mgmt</option>
            <option value="4">Self-Learning</option>
            <option value="5">Problem Solving</option>
          </select>
          <!--Number selection-->
          <select class="form-select" id="rating-selections" aria-label="Default select example">
            <option selected>Rating</option>
            <option value="1">0</option>
            <option value="2">1</option>
            <option value="3">2</option>
            <option value="4">3</option>
            <option value="5">4</option>
          </select>
        </div>
        <!--Date completed-->
        <div class="form-group" id="date-input"></div>
        <label for="example-date-input" class="col-2 col-form-label" style="width: 15rem">Date Completed</label>
        <div class="col-10">
          <input class="form-control" type="date" value="2021-05-08" id="example-date-input"
            style="margin-bottom: 1rem">

          <!-- Hidden part of card only seen by TRAINER-->
          <!--Comment box and Save Button-->
          <div class="form-group" id="commentBox" style="margin-top: 10px">
            <label for="comment">Comment:</label>
            <textarea class="form-control" rows="5" id="comment"></textarea>
            <button type="button" id="save-comment" class="btn btn-primary btn-sm" style="margin-top: 9px">Save</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
  integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
  crossorigin="anonymous"></script>
<script>
  // Function to save comments
  // const commentValue = document.getElementById("comment").value

  document.getElementById("save-comment").addEventListener("click", function (event) {
    event.preventDefault()
    const commentValue = document.getElementById("comment").value
    document.getElementById("commentBox").innerHTML = `<div style="width:auto; height:auto; border: 1px solid grey;">${commentValue}</div>`

  });



  // Competency card variables

  const mySelect = document.getElementById("add");
  const cardContainer = document.getElementById("comp-container");

  // Function to add competency cards

  mySelect.onchange = function () {
    if (document.getElementById("add").value == "1") {
      // Language card

      cardContainer.insertAdjacentHTML(
        "beforeend",
        `<div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">Coding Languages</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            Choose your level of expertise
          </h6>
          <p class="card-text"></p>

          <div id="dropdown-menus">
              <!--Language Selection-->
            <select class="form-select" id="lang-selections" aria-label="Default select example">
                <option selected>Pick A Skill</option>
                <option value="1">JavaScript</option>
                <option value="2">Java</option>
                <option value="3">Python</option>
                <option value="4">TypeScript</option>
                <option value="5">Angular</option>
                <option value="6">Ruby</option>
              </select>
              <!--Number selection-->
              <select class="form-select" id="rating-selections" aria-label="Default select example">
                <option selected>Rating</option>
                <option value="1">0</option>
                <option value="2">1</option>
                <option value="3">2</option>
                <option value="4">3</option>
                <option value="5">4</option>
              </select>
            </div>
             <!--Date completed-->
              <div class="form-group" id="date-input">
                <label for="example-date-input" class="col-2 col-form-label" style="width: 15rem">Date Completed</label>
                <div class="col-10">
                  <input class="form-control" type="date" value="2021-05-08" id="example-date-input" style="margin-bottom: 1rem">

                </div>
                <div class="form-group" id="commentBox" style="margin-top: 10px">
              <label for="comment">Comment:</label>
              <textarea class="form-control" rows="5" id="comment"></textarea>
              <button type="button" id="save-comment" class="btn btn-primary btn-sm"
                style="margin-top: 9px">Save</button>
            </div>`
        );
      } else if (document.getElementById("add").value == "2") {
        // Soft Skills card

      cardContainer.insertAdjacentHTML(
        "beforeend",
        `<div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">Soft Skills</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            Choose your level of expertise
          </h6>
          <p class="card-text"></p>

          <div id="dropdown-menus">
              <!--Language Selection-->
            <select class="form-select" id="lang-selections" aria-label="Default select example">
                <option selected>Pick A Skill</option>
                <option value="1">Communication</option>
                <option value="2">Teamwork</option>
                <option value="3">Time-Mgmt</option>
                <option value="4">Self-Learning</option>
                <option value="5">Problem Solving</option>
              </select>
              <!--Number selection-->
              <select class="form-select" id="rating-selections" aria-label="Default select example">
                <option selected>Rating</option>
                <option value="1">0</option>
                <option value="2">1</option>
                <option value="3">2</option>
                <option value="4">3</option>
                <option value="5">4</option>
              </select>
            </div>
             <!--Date completed-->
              <div class="form-group" id="date-input">
                <label for="example-date-input" class="col-2 col-form-label" style="width: 15rem">Date Completed</label>
                <div class="col-10">
                  <input class="form-control" type="date" value="2021-05-08" id="example-date-input" style="margin-bottom: 1rem">

                </div>
                <div class="form-group" id="commentBox" style="margin-top: 10px">
              <label for="comment">Comment:</label>
              <textarea class="form-control" rows="5" id="comment"></textarea>
              <button type="button" id="save-comment" class="btn btn-primary btn-sm"
                style="margin-top: 9px">Save</button>
            </div>`
        );
      } else if (document.getElementById("add").value == "3") {
        // Agile/Scrum card

      cardContainer.insertAdjacentHTML(
        "beforeend",
        `<div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">Agile/SCRUM/etc</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            Choose your level of expertise
          </h6>
          <p class="card-text"></p>

          <div id="dropdown-menus">
              <!--Language Selection-->
            <select class="form-select" id="lang-selections" aria-label="Default select example">
                <option selected>Pick A Skill</option>
                <option value="1">Focus</option>
                <option value="2">Flexibility</option>
                <option value="3">Forecasting</option>
                <option value="4">Coaching</option>
                <option value="5">Brainstorming</option>
              </select>
              <!--Number selection-->
              <select class="form-select" id="rating-selections" aria-label="Default select example">
                <option selected>Rating</option>
                <option value="1">0</option>
                <option value="2">1</option>
                <option value="3">2</option>
                <option value="4">3</option>
                <option value="5">4</option>
              </select>
            </div>
             <!--Date completed-->
              <div class="form-group" id="date-input">
                <label for="example-date-input" class="col-2 col-form-label" style="width: 15rem">Date Completed</label>
                <div class="col-10">
                  <input class="form-control" type="date" value="2021-05-08" id="example-date-input" style="margin-bottom: 1rem">

                </div>
                <div class="form-group" id="commentBox" style="margin-top: 10px">
              <label for="comment">Comment:</label>
              <textarea class="form-control" rows="5" id="comment"></textarea>
              <button type="button" id="save-comment" class="btn btn-primary btn-sm"
                style="margin-top: 9px">Save</button>
            </div>`
        );
      } else if (document.getElementById("add").value == "4") {
        // Project Mgmt card

      cardContainer.insertAdjacentHTML(
        "beforeend",
        `<div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">Project Management</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            Choose your level of expertise
          </h6>
          <p class="card-text"></p>

          <div id="dropdown-menus">
              <!--Language Selection-->
            <select class="form-select" id="lang-selections" aria-label="Default select example">
                <option selected>Pick A Skill</option>
                <option value="1">Leadership</option>
                <option value="2">Scheduling</option>
                <option value="3">Risk Mgmt</option>
                <option value="3">Prioritization</option>
              </select>
              <!--Number selection-->
              <select class="form-select" id="rating-selections" aria-label="Default select example">
                <option selected>Rating</option>
                <option value="1">0</option>
                <option value="2">1</option>
                <option value="3">2</option>
                <option value="4">3</option>
                <option value="5">4</option>
              </select>
            </div>
             <!--Date completed-->
              <div class="form-group" id="date-input">
                <label for="example-date-input" class="col-2 col-form-label" style="width: 15rem">Date Completed</label>
                <div class="col-10">
                  <input class="form-control" type="date" value="2021-05-08" id="example-date-input" style="margin-bottom: 1rem">
</div>
<div class="form-group" id="commentBox" style="margin-top: 10px">
  <label for="comment">Comment:</label>
  <textarea class="form-control" rows="5" id="comment"></textarea>
  <button type="button" id="save-comment" class="btn btn-primary btn-sm" style="margin-top: 9px">Save</button>
</div>`
);
}
};
</script>