<div id="trainer-body">
      <img class="col-md small-ace-logo" src="../../public/img/ace-logo.png" />
      <div id="trainer-container">
         <h3 class="titillium-font">View & Verify Trainees</h3>
         <h6 class="titillium-font">Click the employee's name to view the trainings that they've completed.</h5>
      </div>
      <div class="table-users">
         <div class="header">
            <h3 class="titillium-font">Trainees</h3>
         </div>

         <table cellspacing="0">
            <tr>
               <th class="titillium-font">Name</th>
               <th class="titillium-font">E-Mail</th>
               <th class="titillium-font">ID #</th>
               <!-- <th width="230">Comments</th> -->
            </tr>

            <tr></tr>
            <td><a href="#">Roy</a></td>
            <td>roy@email.com</td>
            <td>01</td>
            </tr>

            <tr>
            <td><a href="#">Tre'</a></td>
            <td>tre@email.com</td>
            <td>02</td>
            </tr>

            <tr>
               <td><a href="#">Heather</a></td>
               <td>heather@email.com</td>
               <td>03</td>
            </tr>

            <tr>
               <td><a href="#">Bob</a></td>
               <td>bob@email.com</td>
               <td>04</td>
            </tr>

            <tr>
               <td><a href="#">Suzie</a></td>
               <td>suzie@email.com</td>
               <td>05</td>
            </tr>

            <tr>
               <td><a href="#">Stan</a></td>
               <td>stan@email.com</td>
               <td>06</td>
            </tr>
         </table>
      </div></br></br>
   </div>
