<div id="trainer-container">
      <div id="trainer-header">
        <h2>Trainees</h2>
      </div>
    </div>
    <div class="table-users">
      <div class="header">Trainees</div>
      
      <table cellspacing="0">
         <tr>
            <th>Name</th>
            <th>Employee ID</th>
            <th>Phone Number</th>
            <th>Trainings Completed</th>
            <th width="230">Comments</th>
         </tr>
   
         <tr></tr>
            <td>Jane Doe</td>
            <td>jane.doe@foo.com</td>
            <td>01 800 2000</td>
            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </td>
         </tr>
   
         <tr></tr>
            <td>John Doe</td>
            <td>john.doe@foo.com</td>
            <td>01 800 2000</td>
            <td>Blanditiis, aliquid numquam iure voluptatibus ut maiores explicabo ducimus neque, nesciunt rerum perferendis, inventore.</td>
         </tr>
   
         <tr>
            <td>Jane Smith</td>
            <td>jane.smith@foo.com</td>
            <td>01 800 2000</td>
            <td> Culpa praesentium unde pariatur fugit eos recusandae voluptas.</td>
         </tr>
         
         <tr>
            <td>John Smith</td>
            <td>john.smith@foo.com</td>
            <td>01 800 2000</td>
            <td>Aut voluptatum accusantium, eveniet, sapiente quaerat adipisci consequatur maxime temporibus quas, dolorem impedit.</td>
         </tr>
      </table>
   </div>