<div id="trainee-page">
    <div id="logo-logout">
      <!--Logo-->
      <img class="col-md ace-logo" src="../public/img/ace-logo.png" />
      <!--Logout button-->
      <button id="logout-button" type="button" class="btn btn-primary">Logout</button>
    </div>
    <div id="header-container">
      <br /><br />
      <h3 id="choose-training-header">Choose Your Training</h3>
      <div id="comp-header">
        <!--Dropdown to choose type of training-->
        <select class="form-select select-menu" id="add" aria-label="Default select example">
          <div>
            <option selected>Open this select menu</option>
            <option value="1">Coding Languages</option>
            <option value="2">Soft Skills</option>
            <option value="3">Agile/SCRUM/etc</option>
            <option value="4">Project Management</option>
        </select>
        <p id="small-training-text">Your trainings will display below</p>
      </div>
    </div>
    <!--Compentencies go here-->


    <div id="comp-container">
      <!--Test Card-->
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">Soft Skills(Test)</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            Choose your level of expertise
          </h6>
          <p class="card-text"></p>

          <div id="dropdown-menus">
            <!--Language Selection-->
            <select class="form-select" id="lang-selections" aria-label="Default select example">
              <option selected>Pick A Skill</option>
              <option value="1">Communication</option>
              <option value="2">Teamwork</option>
              <option value="3">Time-Mgmt</option>
              <option value="4">Self-Learning</option>
              <option value="5">Problem Solving</option>
            </select>
            <!--Number selection-->
            <select class="form-select" id="rating-selections" aria-label="Default select example">
              <option selected>Rating</option>
              <option value="1">0</option>
              <option value="2">1</option>
              <option value="3">2</option>
              <option value="4">3</option>
              <option value="5">4</option>
            </select>
          </div>
          <!--Date completed-->
          <div class="form-group" id="date-input"></div>
          <label for="example-date-input" class="col-2 col-form-label" style="width: 15rem">Date Completed</label>
          <div class="col-10">
            <input class="form-control" type="date" value="2021-05-08" id="example-date-input"
              style="margin-bottom: 1rem">

            <!-- Hidden part of card only seen by TRAINER-->
            <div>
              <!--Comment box and Save Button-->
              <div class="form-group" style="margin-top: 10px">
                <label for="comment">Comment:</label>
                <textarea class="form-control" rows="5" id="comment"></textarea>
                <button type="button" class="btn btn-primary btn-sm" style="margin-top: 9px">Save</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--End test card-->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous"></script>
      <script>
        var mySelect = document.getElementById("add");
        const cardContainer = document.getElementById("comp-container");

        // Funtion to add competency cards

        mySelect.onchange = function () {
          if (document.getElementById("add").value == "1") {
            // Language card

            cardContainer.insertAdjacentHTML(
              "beforeend",
              `<div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">Coding Languages</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            Choose your level of expertise
          </h6>
          <p class="card-text"></p>

          <div id="dropdown-menus">
              <!--Language Selection-->
            <select class="form-select" id="lang-selections" aria-label="Default select example">
                <option selected>Pick A Skill</option>
                <option value="1">JavaScript/ECMAScript</option>
                <option value="2">Java</option>
                <option value="3">Python</option>
                <option value="4">TypeScript</option>
                <option value="5">Angular</option>
                <option value="6">Ruby</option>
              </select>
              <!--Number selection-->
              <select class="form-select" id="rating-selections" aria-label="Default select example">
                <option selected>Rating</option>
                <option value="1">0</option>
                <option value="2">1</option>
                <option value="3">2</option>
                <option value="4">3</option>
                <option value="5">4</option>
              </select>
            </div>
             <!--Date completed-->
              <div class="form-group" id="date-input">
                <label for="example-date-input" class="col-2 col-form-label" style="width: 15rem">Date Completed</label>
                <div class="col-10">
                  <input class="form-control" type="date" value="2011-08-19" id="example-date-input" style="margin-bottom: 1rem">
                </div>`
            );
          } else if (document.getElementById("add").value == "2") {
            // Soft Skills card

            cardContainer.insertAdjacentHTML(
              "beforeend",
              `<div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">Soft Skills</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            Choose your level of expertise
          </h6>
          <p class="card-text"></p>

          <div id="dropdown-menus">
              <!--Language Selection-->
            <select class="form-select" id="lang-selections" aria-label="Default select example">
                <option selected>Pick A Skill</option>
                <option value="1">Communication</option>
                <option value="2">Teamwork</option>
                <option value="3">Time-Mgmt</option>
                <option value="4">Self-Learning</option>
                <option value="5">Problem Solving</option>
              </select>
              <!--Number selection-->
              <select class="form-select" id="rating-selections" aria-label="Default select example">
                <option selected>Rating</option>
                <option value="1">0</option>
                <option value="2">1</option>
                <option value="3">2</option>
                <option value="4">3</option>
                <option value="5">4</option>
              </select>
            </div>
             <!--Date completed-->
              <div class="form-group" id="date-input">
                <label for="example-date-input" class="col-2 col-form-label" style="width: 15rem">Date Completed</label>
                <div class="col-10">
                  <input class="form-control" type="date" value="2011-08-19" id="example-date-input" style="margin-bottom: 1rem">
                </div>`
            );
          } else if (document.getElementById("add").value == "3") {
            // Agile/Scrum card

            cardContainer.insertAdjacentHTML(
              "beforeend",
              `<div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">Agile/SCRUM/etc</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            Choose your level of expertise
          </h6>
          <p class="card-text"></p>

          <div id="dropdown-menus">
              <!--Language Selection-->
            <select class="form-select" id="lang-selections" aria-label="Default select example">
                <option selected>Pick A Skill</option>
                <option value="1">Focus</option>
                <option value="2">Flexibility</option>
                <option value="3">Forecasting</option>
                <option value="4">Coaching</option>
                <option value="5">Brainstorming</option>
              </select>
              <!--Number selection-->
              <select class="form-select" id="rating-selections" aria-label="Default select example">
                <option selected>Rating</option>
                <option value="1">0</option>
                <option value="2">1</option>
                <option value="3">2</option>
                <option value="4">3</option>
                <option value="5">4</option>
              </select>
            </div>
             <!--Date completed-->
              <div class="form-group" id="date-input">
                <label for="example-date-input" class="col-2 col-form-label" style="width: 15rem">Date Completed</label>
                <div class="col-10">
                  <input class="form-control" type="date" value="2011-08-19" id="example-date-input" style="margin-bottom: 1rem">
                </div>`
            );
          } else if (document.getElementById("add").value == "4") {
            // Project Mgmt card

            cardContainer.insertAdjacentHTML(
              "beforeend",
              `<div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">Project Management</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            Choose your level of expertise
          </h6>
          <p class="card-text"></p>

          <div id="dropdown-menus">
              <!--Language Selection-->
            <select class="form-select" id="lang-selections" aria-label="Default select example">
                <option selected>Pick A Skill</option>
                <option value="1">Leadership</option>
                <option value="2">Scheduling</option>
                <option value="3">Risk Mgmt</option>
                <option value="3">Prioritization</option>
              </select>
              <!--Number selection-->
              <select class="form-select" id="rating-selections" aria-label="Default select example">
                <option selected>Rating</option>
                <option value="1">0</option>
                <option value="2">1</option>
                <option value="3">2</option>
                <option value="4">3</option>
                <option value="5">4</option>
              </select>
            </div>
             <!--Date completed-->
              <div class="form-group" id="date-input">
                <label for="example-date-input" class="col-2 col-form-label" style="width: 15rem">Date Completed</label>
                <div class="col-10">
                  <input class="form-control" type="date" value="2011-08-19" id="example-date-input" style="margin-bottom: 1rem">
                </div>`
            );
          }
        };
      </script>