.ace-logo {
  width: 15rem;
  height: auto;
}

.small-ace-logo {
  width: 12rem;
  height: auto;
  padding-left: 0rem;
}

.full-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.left-page {
  width: 65%;
  height: auto;
  font-family: 'Roboto', sans-serif;
  background-color: rgba(93, 168, 238, 0.349);
}

.right-page {
  width: 35%;
  height: 38.1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sign-in-header {
  text-align: center;
  margin-top: 10rem;
  font-family: 'Titillium Web', sans-serif;
}

.ace-h1 {
  margin-top: 3rem;
  text-align: center;
  font-size: 3rem;
  font-family: 'Cairo', sans-serif;
}

.slogan {
  text-align: center;
  font-size: 3.2rem;
  margin-top: 2rem;
  font-family: 'Titillium Web', sans-serif;
  margin-bottom: 2rem;
}

.info-blurb {
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Titillium Web', sans-serif;
}

.branding {
  text-align: center;
  margin-top: 3rem;
}

.login-button {
  margin-left: 43%;
  margin-top: 2rem;
}

.role-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 6rem;
  border: 2px solid red;
}

.role-header {
  border: 2px solid blue;
  padding-left: 10rem;
  padding-right: 10rem;
}

.role-buttons {
  border: 2px solid lime;
  margin-top: 2rem;
}

.titillium-font {
  font-family: 'Titillium Web', sans-serif;
}

#trainer-button {
  margin-right: 10px;
  width: 9rem;
}

#trainee-button {
  margin-left: 10px;
  width: 9rem;
}

#header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Titillium Web', sans-serif;
  margin-bottom: 1rem;
}

#comp-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#dropdown-menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: auto;
}

#lang-selections {
  width: 12rem;
}

#rating-selections {
  width: 6rem;
}

#trainer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 6rem;
}

#trainer-header {
  border: 2px solid blue;
  padding-left: 10rem;
  padding-right: 10rem;
}

#username-input {
  width: 91.5%;
  margin-left: 1.5%;
}

#pw-input {
  width: 90%;
  margin-left: 3%;
}

#show-pass {
  margin-left: 3%;
  margin-top: 5px;
}

#competency-full-body {
  background-color: rgba(93, 168, 238, 0.349);
}

#trainer-body {
  background-color: rgba(93, 168, 238, 0.349);
}

.header {
  background-color: #557a95;
  color: white;
  font-size: 1.5em;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
}

table {
  width: 100%;
}

table, th, td {
  border: 1px solid lightgrey;
  border-collapse: collapse;
}

th, td {
  padding: 2px 4px;
}
/*# sourceMappingURL=style.css.map */