.ace-logo {
    width: 10rem;
    height: auto;
    border: 2px solid red;
}

.small-ace-logo {
    width: 12rem;
    height: auto;
    padding-left: 0rem;
}

.full-page{
    display: flex;
}

.left-page {
    border: 2px solid blue;
    width: 50rem;
    height: auto;
}

.right-page {
    border: 2px solid lime;
    width: 30rem;
    justify-content: center;
}

.sign-in {
    text-align: center;
    margin-top: 10rem;
}

.branding {
    text-align: center;
    margin-top: 3rem;
}

.login-button {
   margin-left: 13.5rem;
   margin-top: 2rem;
}

.role-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 6rem;
    border: 2px solid red;
}

.role-header {
    border: 2px solid blue;
    padding-left: 10rem;
    padding-right: 10rem;
}

.role-buttons {
    border: 2px solid lime;
    margin-top: 2rem;
}

#trainer-button {
    margin-right: 10px;
    width: 9rem;
}

#trainee-button {
    margin-left: 10px;
    width: 9rem;
}

#header-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid red;
}

#comp-container {
    border: 2px solid blue;
}

#dropdown-menus {
    display: flex;
    flex-direction: row;
}

#lang-selections {
    width: 12rem;
}

#rating-selections {
    width: 6rem;
}